<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/static/app.css"> -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Feedback</a>
        {% if session['user_name'] %}
        <form action="/logout" method='post'>
            <button class='btn btn-light'>Logout</button>
        </form>
        {% else %}
        <a href="/login" class="btn btn-light">Login</a>
        {% endif %}
    </nav>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
            <div class='alert alert-{{category}}'>{{message}}</div>
        {% endfor %}
    {% endwith %}

    {% block content %}

    {% endblock %}
</body>
</html>